
<div class="w-50 mx-auto">
  <h1>Quên mật khẩu / Đặt lại mật khẩu</h1>

  <form action="" method="post">

    <div class="mb-3">
      <label for="">Email</label>
      <input
        type="email"
        name="email"
        class="form-control"
        placeholder="Email..."
      />
    </div>

    <div class="d-grid mt-3">

      <button class="btn btn-primary " type="submit" style="height: 40px;">
        <span>Gửi</span>
      </button>

      <button class="btn btn-secondary mt-2" style="height: 40px;">
        <a href="login" class="btn cursor-pointer p-0 text-light" style="text-decoration: none;height: 100%" >Quay lại</a>
      </button>

    </div>

  </form>
</div>
