
<div class="w-50 mx-auto">
  <h1>Đặt lại mật khẩu / nhập mật khẩu mới</h1>

  <form action="" method="post">

    <div class="mb-3">
      <label for="">Mật khẩu mới</label>
      <input
        type="newPassword"
        name="newPassword"
        class="form-control"
        placeholder="New password..."
      />
    </div>

		<div class="mb-3">
      <label for="">Mật khẩu mới (Xác nhận)</label>
      <input
        type="newPasswordConfirm"
        name="newPasswordConfirm"
        class="form-control"
        placeholder="New password confirm..."
      />
    </div>

    <div class="d-grid mt-3">
      <button class="btn btn-primary" style="height: 40px;"  type="submit">
        <span>Cài đặt mật khẩu mới</span>
      </button>

      <button class="btn btn-secondary mt-2" style="height: 40px;">
        <a href="login" class="btn cursor-pointer p-0 text-light" style="text-decoration: none;height: 100%" >Quay lại</a>
      </button>

    </div>



  </form>
</div>
