

#root {
    background-color: #272727;
	width: 100%;
	min-height: 100vh;
    padding: 0.5rem;
}

.btn-login {
    background: #6eeb83;
    color: #FFF;
    border-radius: 8px;

    display: flex;
    width: 17.8rem;
    height: 6rem;
    padding: 1.7rem 4.3rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btn-login span {

}

.blog {
    background: #272727;
	width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}

.list-blog {
    /* border: 1px solid red; */
	width: 100%;
    height: 100%;
    padding: 0.5rem;

}
.blog-item {
    border: 1px solid gray;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem 0;
    gap: 0.5ren;
}

/* Login */
#root form {
    border: 1px solid gray;
    border-radius: 8px;
    min-width: 576px;
    padding: 1.5rem 2rem;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 0.75rem;

}


#root form input {
    width: 100%;
    height: 48px;
}

#root button {
    border: 1px solid #6eeb83;
    border-radius: 0.5rem;
    background-color: #6eeb83;
    color: #272727;
    color: white;
    font-weight: 600;
    padding: 0.5rem 1rem;

    flex: 1;
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.submit-login {
    border: 1px solid gray;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.25rem 0.5rem;
}

#root form label {
    width: 100%;
    margin: 0;
}

#root form input {
    border-radius: 0.5rem;
    padding: 0 0.5rem;
}


.btn-log-out {
    background: red !important;
    position: fixed;
    top: 2rem;
    right: 1rem;
}
/*  */
.row-item  {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;

    font-weight: 700;
    font-style: normal;
    color: #6eeb83;
}

