

#root {
    background-color: #272727;
	width: 100%;
	min-height: 100vh;
    padding: 0.5rem;

    font-family: "DM Serif Display",serif;
    word-wrap: break-word;
}

.blog-page {
    width: 100%;
    height: 100%;
}

.blog-page__title {
    color: #6eeb83;
    font-weight: 600;
}

.user-infors {
    color: #fff;
}

.toast-header {
    width: 100%;
    background: gray;
    border-radius: 0.5rem;
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog {
    background: #272727;
	width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.list-blog {
    /* border: 1px solid red; */
	width: 100%;
    height: 100%;
    padding: 0.5rem 0;

}
.blog-item {
    border-bottom: 1px solid gray;
    color: #FFF;
    padding: 1rem 0.5rem;
    /* margin-bottom: 1rem; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}

.blog-time-previous-time {
    max-width: 25%;
    min-width: 148px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.blog-item-main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}

#root a, #root a:hover {
    color: #fff;
}

/* Form */
#root #sign-in-form, #sign-up-form  {
    border: 1px solid red;
    max-width: calc( 576px - 2rem );
    border: 1px solid gray;
    border-radius: 8px;
    min-width: 576px;
    padding: 1.5rem 2rem;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 0.75rem;

}

#root form input {
    width: 100%;
    height: 48px;
}

#root  textarea {
    width: 100%;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

#root button {
    border-radius: 0.5rem;
    padding: 0.75rem 1.25rem;
    color: white;
    font-weight: 600;
    font-size: 14px;
    font-style: normal;
    line-height: normal;

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    /* position: fixed; */
    right: 1rem;
}

.btn-sign-in {
    background-color: #6eeb83;
    border: 1px #6eeb83 !important;
    top: 2rem;
    left: 2rem;
}

#btn-log-out {
    border: 1px red !important;
    background: red !important;
    position: fixed;
    top: 1rem;
    right: 2rem;
}

.submit-login {
    border: 1px solid gray;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.25rem 0.5rem;
}

#btn-sign-in, #btn-sign-up, #btn-post-blog, #btn-sign-in-home
{
    background-color: #6eeb83!important;;
    border: 1px #6eeb83 !important;
}

.post-blog-form {
    /* border: 1px solid red; */
    width: 50%;
    min-width: calc( 576px - 2rem );
    margin: 1rem 0;
}

#root form label {
    width: 100%;
    margin: 0;
}

#root form input {
    border-radius: 0.5rem;
    padding: 0 0.5rem;
}


/*  */
.row-item  {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;

    font-weight: 700;
    font-style: normal;
    color: #6eeb83;
}

