@tailwind base;
@tailwind components;
@tailwind utilities;

$main_color: #006FEE;
$white_color: #ffffff;

.wide {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}

.heading {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
}
.heading-2 {
  font-size: 1.6rem;
  font-weight: 500;
}

.lang.active {
  color: red;
  font-weight: 500;
}
.basic-infor-el {
  max-width: 280px;
}
.infors {
  // border: 1px solid red;
  margin-top: 1rem;
  width: 100%;
}

.infor-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  & span {
    word-wrap: break-word;
  }
  & p {
    width: 100%;
  }
}

.basic-ifnor-el {
  word-wrap: break-word;
}

.text-hight-light {
  color: $main_color;
}
.text-hight-light-dark {
  color: $main_color;
}
.header-el {
  display: flex;
}

.switcher-btn {
  transform: translate(60%, 14%);
}

.head-link {
  color: $main_color;
  font-size: 1.8rem;
  font-weight: 500;
  text-align: left;
}

.bg-hight-light {
  background: $white_color;
}

.list-disc {
  padding: 0 0 0 1.75rem;
}

.contact-el {
 & .high-light {
  color: $main_color;
 }
}
.contact-el__title {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
}
.education-el {
  width: 100%;
}

.education-item {
  display: flex;
  flex-direction: column;
}
.education-item__time {
  font-size: 16px;
  font-weight: 500;
}
.education-item__action {
  font-size: 16px;
  font-weight: 400;
}

