// @tailwind base;
// @tailwind components;
// @tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground-rgb: 255, 255, 255;
//     --background-start-rgb: 0, 0, 0;
//     --background-end-rgb: 0, 0, 0;
//   }
// }

// body {
//   color: rgb(var(--foreground-rgb));
//   background: linear-gradient(
//       to bottom,
//       transparent,
//       rgb(var(--background-end-rgb))
//     )
//     rgb(var(--background-start-rgb));
// }

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
.btn {
  border: 1px solid red; // border-radius: 50%;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s ease;
  user-select: none;
  padding: 0.25rem 0.5rem;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 1;
  }

  &:focus,
  :focus-visible {

    outline: none;
    border: none;
  }

}

//
$write: #ffffff;
$black: #000000;
$main: #C77634;

.portfolio-page {
  // border: 1px solid red;
  background: $write;
  // background: $black;
  min-height: 100vh;

  padding: 0.25rem 1rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 0rem;

}

.portfolio-container {
  // border: 1px solid red;
  width: 100%;
  display: flex;
  height: fit-content;
}

.portfolio-wrap {
  // border: 1px solid blue;
  width: 100%;
  // height: 100%;
  display: flex;
  flex-direction: column;
}

.portfolio-head {
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.left {
  // border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  & img, csv {
    width: 26px;
  }
}

// .icon {
//   border: 1px solid red;
// }

// .website {
//   border: 1px solid red;
// }

// .tabs {
//   border: 1px solid red;
// }

// .Home {
//   border: 1px solid red;
// }

.right {
  // border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-networks {
  // border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

// .network-item {
//   border: 1px solid red;
// }

.actions {
  // border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

}

// .change-theme {
//   border: 1px solid red;
// }

// .change-language {
//   border: 1px solid red;
// }

.common-layout {
  border: 1px solid #18181B50;
  box-shadow: 0px 0px 2px 1px #18181B50;
  border-radius: 0.5rem;
  background: transparent;
  padding: 1rem;

}

.portfolio-main {
  border: 1px solid #18181B50;
  box-shadow: 0px 0px 2px 1px #18181B50;
  border-radius: 0.5rem;
  background: transparent;

  // background: #18181B50;


  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

}

.portfolio-title {
  font-size: 20px;
  font-weight: 500;
}

.portfolio-main-foot {
  font-size: 16px;
  font-weight: 400;
  color: $main;
}

.portfolio-main-layouts {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1.5rem;
}

.portfolio-basic-infor {
  // border: 1px solid red;
  border-radius: 0.5rem;

  padding: 0.75rem;

  max-width: 208px;
  min-width: min-content;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.portfolio-basic-infor-avata {
  border: 1px solid transparent;
  border-radius: inherit;
  background: $write;
  width: 200px;
  height: 200px;
  transition: all 0.4s ease-in-out;
  overflow: hidden;

  &:hover {
    transform: scale(1.1);
  }

  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    border-radius: 50%;
    width: 90%;
    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.3);
    }
  }
}

.specialize {
  // border: 1px solid red;
  margin-top: 0.25rem;
  font-size: 12px;
}

.portfolio-basic-infor-details {
  // border: 1px solid red;
  margin-top: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
}

.portfolio-basic-infor-item {
  // border: 1px solid red;
  margin-top: 0.25rem;
}

.basic-infor-category-title {
  font-size: 20px;
}

.item-infor {
  border-bottom: 1px solid gray;
  margin-top: 0.25rem;
  padding: 0.15rem 0;

  &:last-child {
    border: none;
  }
}

.item-infor__title {
  font-size: 16px;
  font-weight: 600;
  float: left;
  margin-right: 0.25rem;
}

.item-infor__contents {
  display: contents;
  font-size: 14px;
  font-weight: 400;
}


.portfolio-main-infor {
  // border: 1px solid red;
  flex: 1;

}

.portfolio-categories {
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  padding: 0 1rem;

  & div {
    width: 100%;
  }
}

.category-item {
  // border: 1px solid red;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.category-item__title {
  // border: 1px solid red;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.category-item__contents {
  // border: 1px solid blue;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.content-text {
  display: flex;
  flex-direction: column;

  // gap: 0.5rem;
  &>div {
    border-bottom: 1px solid rgb(201, 198, 198);
    margin-top: 0.5rem;
    padding: 0.5rem 0 0.5rem 0;
  }
}

.content-text-title {
  font-size: 16px;
  font-weight: 500;
}

.content-text-description {}

.content-actions {
  margin-top: 0.25rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.content-link {
  margin-top: 0.25rem;
}

.portfolio-foot {
  // border: 1px solid green;
  background: transparent;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  padding: 0.5rem 1.25rem 1.25rem 1.25rem;
}

a {
  color: #FB923C;
}

@media only screen and (max-width: 768px) {
  .portfolio-main-layouts {
    flex-direction: column;
  }

  .portfolio-basic-infor {
    max-width: max-content;
    width: auto;
  }
  .portfolio-categories {
    padding: 1rem;
  }
  .portfolio-categories div {
    flex: 1;

  }
}